.product-detail-container {
   display: flex;
   gap: 3rem;
   padding: 50px;

   color: #004080;
   border-radius: 20px;
   box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
   animation: slideIn 0.6s ease-in-out;
   flex-wrap: wrap;
 }
 
 @keyframes slideIn {
   from {
     opacity: 0;
     transform: translateY(40px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 .product-detail-image {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .product-detail-image img {
   max-width: 450px;
   width: 100%;
   border-radius: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease;
 }
 .product-detail-image img:hover {
   transform: scale(1.05);
 }
 
 .product-detail-info {
   flex: 1;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(8px);
   border-radius: 20px;
   padding: 30px;
   transition: all 0.3s ease;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
 }
 
 .product-detail-name {
   font-size: 32px;
   font-weight: 700;
   margin-bottom: 20px;
   color: #004080;
 }
 
 .product-detail-price {
   font-size: 24px;
   font-weight: bold;
   color: #ffd700;
   margin-bottom: 20px;
 }
 
 .product-detail-description {
   margin-bottom: 20px;
   font-size: 17px;
   color: #207edc;
 }
 
 .product-detail-details p {
   margin: 10px 0;
   border-left: 3px solid #ffd700;
   padding-left: 10px;
   font-size: 16px;
 }
 
 .product-detail-add-to-cart-btn {
   margin-top: 30px;
   padding: 15px 30px;
   font-size: 16px;
   background: #ffd700;
   color: #004080;
   font-weight: bold;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s ease;
   box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
 }
 
 .product-detail-add-to-cart-btn:hover {
   background: #fff;
   color: #0072c6;
   transform: translateY(-2px);
 }
 